body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.contentCentered {
    margin: auto;
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menuBox {
    margin-top: 1%;
    border-style: double;
    padding: 25px;
}


#todoList {
    text-align: left; 
    align-content: left; 
    align-items: left;
}