body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main {
    margin-top: 1%;
    border-style: double;
    border-color: rgb(0, 0, 0);
    padding: 1.5%;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
}

section {
    text-align: left;
}


header a, header a:hover, header a:visited,  a:active {
    color: blue;
    text-decoration: underline;
}


nav a {
    border-style: double;
    padding:1%;
}

nav {
    margin: 1.5%;
}

