* {
    font-family: Arial, Helvetica, sans-serif;
    
    margin:0;
    padding:0;
    margin-block-start:0;
    margin-block-end:0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    overflow:hidden;
    
    /* Disables drag selecting (for text)*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge*/
    user-select: none;          /* Non-prefixed version, currently not supported by any browser */

    /* Disables drag selecting (for images) */
    -webkit-user-drag: 	none;
    -khtml-user-drag: 	none;
    -moz-user-drag: none;
    -o-user-drag: 	none;
    /* user-drag: 		none;   /*Currently not supported, but will be supported in the future. */


    /* Disables antialiasing on images so they arent SMOOTHED */
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}


audio 
{
    display: none;
}